--Login

html, body {
  font-family: 'Arial', sans-serif;
}

.container {
  display: flex;
  width: 100%;
  max-width: 1000px;
  margin: 5px auto;
  box-shadow: 0 0 10px rgba(43, 248, 2, 0.1);
  height: 94vh; 
}


.login-form {
  flex: 1;
  padding: 60px 40px;
  flex: 1;
  padding: 40px;
  background-color: #b572f3b6;
  border-top-left-radius: 30px;
  border-bottom-left-radius : 30px;
}

.login-form h2 {
  margin-bottom: 10px;
}

.login-form p {
  color: #777;
  font-size: 14px;
  margin-bottom: 30px;
}

.login-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.login-form input[type="email"],
.login-form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #aaa;
  border-radius: 5px;
  box-sizing: border-box;
}

.remember-forgot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  margin-bottom: 20px;
}

.remember-forgot input[type="checkbox"] {
  margin-right: 5px;
}

.remember-forgot a {
  color: #f50606;
  text-decoration: none;
}

.login-form button {
  width: 100%;
  padding: 10px;
  background-color: #2e7d32;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.signup {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}

.signup a {
  color: #f80a0a;
  text-decoration: none;
}

.or-divider {
  text-align: center;
  margin: 20px 0;
  font-size: 14px;
  color: #aaa;
}

.social-login {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social-login button {
  padding: 5px;
  width: 166px;
  border: 1px solid #f5f110;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
}

.image-section {
  background-color: #b572f3b6;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.image-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-left: 5px solid #ffe712;
  border-radius: 20px;
  margin-bottom: 20px;
}

